<div class="page-title">
  <h2 class="mat-h2 accent">Create Item</h2>
</div>

<mat-divider></mat-divider>

<mat-card class="item-form-card">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4"></textarea>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="standard">
        <mat-label>Price</mat-label>
        <input matInput type="number" step="0.01">
        <span matPrefix>
          <fa-icon [icon]="faEuroSign" class="primary"></fa-icon>
          &nbsp;
        </span>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Amount Of Stock</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="form-buttons">
      <button class="form-buttons-submit" mat-raised-button color="primary" type="submit" [disabled]="!itemForm.valid">Submit</button>
      <a routerLink="/item" mat-raised-button>Cancel</a>
    </div>


  </form>
</mat-card>


