@import '~@angular/material/theming';

.page-title {
  height: 85px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }
}

.item-form-card {
  margin: 16px;

  form {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;

    }

    .form-row{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      mat-form-field {
        margin-right: 16px;
      }
    }

    .form-buttons{
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      & > * {
        margin: 0 8px;
        flex-grow: 1;
        @include mat-elevation-transition;
        @include mat-elevation(2);

        &:hover {
          @include mat-elevation(8);
        }
      }

      .form-buttons-submit{
        flex-grow: 3;
      }
    }
  }

}
