@import '~@angular/material/theming';

.toolbar {
  justify-content: space-between;
  @include mat-elevation(2);

  img {
    height: 80%;
  }

  nav {
    a {
      margin-left: 8px;
      @include mat-elevation-transition;
      @include mat-elevation(2);

      &:hover{
        @include mat-elevation(8);
      }
    }

  }
}

#content-wrapper {
  margin: 24px 16px;
}

footer {
  margin-top: 64px;
  background-color: #ff4081;
  text-align: center;

  img {
    height: 40px;
    margin: 8px 0;
  }
}
