@import '~@angular/material/theming';

.page-title {
  height: 85px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }

  .fab {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 2;
    @include mat-elevation-transition;
    @include mat-elevation(4);

    &:hover {
      @include mat-elevation(10);
    }
  }
}

.item-card-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

  .item-card {
    width: 250px;
    margin: 16px;
    @include mat-elevation-transition;
    @include mat-elevation(2);

    &:hover {
      @include mat-elevation(8);
    }

    mat-card-header {
      height: 65px;
    }

    .item-card-content {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      .urgency-low {
        color: red;
      }

      .urgency-medium {
        color: orange;
      }

      .urgency-high {
        color: green;
      }

    }
  }
}


