<div class="page-title">
  <h2 class="mat-h2 accent">Items</h2>
  <mat-form-field appearance="standard">
    <mat-label>Filter by name</mat-label>
    <input matInput type="text" [formControl]="filteringInput" id="item-filter-input">
    <fa-icon [icon]="faSearch" matSuffix class="primary"></fa-icon>
  </mat-form-field>
  <a class="fab" routerLink="/item/new" mat-fab color="primary" routerLinkActive="active">
    <fa-icon [icon]="faPlus"></fa-icon>
  </a>
</div>

<mat-divider></mat-divider>

<div class="item-card-wrapper">
  <mat-card class="item-card" id="item-card-{{item.id}}" *ngFor="let item of filteredItems$ | async">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/200/150" alt="Item Image">
    <mat-card-content class="item-card-content">
      <span>
        <fa-icon [icon]="faEuroSign" class="primary"></fa-icon>
        {{item.price}}
      </span>
      <span>
      {{printStockUrgency(item.stockUrgency)}}
        <fa-icon [icon]="faCircle" class="urgency-{{printStockUrgency(item.stockUrgency)}}"></fa-icon>
    </span>
    </mat-card-content>
  </mat-card>
</div>
